header{
height: 10vh;
border-bottom:4px solid cadetblue ;
background-color: white;
}

#pagechanger{
border: none;
color: #003865;
font-size: 25px;
outline: none;
position: relative;
top: 2.5vh;
font-family: "Open sans",sans-serif;
}

#pagechanger:hover{
cursor: pointer;}

.side-nav{
  position: absolute;
  height: auto;
  min-height: 350px;
  width: 15vw;
  min-width: 100px;
  top: 40px;
  float: left;
  background-color: whitesmoke;
  z-index: 10;
  top: 10vh;
  display: none;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
}
.nav-element{
height: 50px;
}
.nav-element a{
margin-left: 20px;
font-weight: 600;
text-decoration: none;
color: #3e6389;
font-size: 20px;
font-family: "Open sans",sans-serif;
}

#matwork{
text-align: center;
font-size: 22px;
font-weight: bold;
margin: 10px;
}

a:link { text-decoration: none; }

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2.5px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 4px);
  transform: rotate(-45deg) translate(-5.5px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
.menu-btn {
position: relative;
height: 100%;
width: 70px;
float: left;
outline: none;
border: none;
background-color: white;
}
.menu-btn:hover{
cursor: pointer;
}

.rightc-head{
width: 100%;
position: relative;
text-align: center;
font-size: 20px;
color: cadetblue;
}

#about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: flex-end;
    justify-content: center;
}

#about .box{
    padding: 10px;
    margin:10px;
    font-size: 1.1rem;
	float: left;
}
#about .box img{
    height:120px;
    margin: auto;
    display: block;
}

#zoom {
  transition: transform 1.6s;
  width: 180px;
  height: 160px;
  margin: 0 auto;
}

#zoom:hover {
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari 3-8 */
  transform: scale(1.4); 
}

.h-secondary{
    text-align: center;
    font-size: 1.2rem;
    padding: 6px;
    font-family: 'Bree Serif', serif;
}

#simulation{
	margin-top:50px; 
	width:70%; 
	float:left;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

@media screen and (max-width: 950px)
{
#enter-val{
width: 100%;}

.matlab-working{
width: 100%;}

.right-cont{
display: none;}
.side-nav{
width: 200px;}

#pagechanger{
font-size: 12px;
position: relative;
}
}

@media screen and (min-height: 700px)
{
 #enter-val{ 
height: 62vh;}

}
@media screen and (max-width: 400px)
{
#pagechanger{
  top: 0.5vh;
font-size: 10px;}
}

@media screen and (min-height: 1000px)
{
#enter-val{
height: 52vh;}

.prog-window{
height: 88%;}
}

@media screen and (min-height: 1300px)
{
#enter-val{
height: 45vh;}

.prog-window{
height: 91%;}

#pagechanger{
  top: 0.5vh;
font-size: 30px;}
}

@media screen and (max-height: 680px)
{
#enter-val{
height: 79vh;}
.prog-window{
height: 75%;}
}
@media screen and (max-width: 300px)
{
  #pagechanger{
    top: 0.5vh;
    font-size: 7px;}
	
@media screen and (max-height: 700px){
#enter-val{
height: 85vh;}
.prog-window{
height: 77%;}
}
}

@media screen and (min-width: 1000px)
{
@media screen and (min-height: 700px)
{
#enter-val{
height: 80vh;}
}
}

@media screen and (max-width: 600px)
{
@media screen and (max-height: 750px)
{
#enter-val{
height: 80vh;}
}
}

@media screen and (max-width: 750px)
{
@media screen and (max-height: 600px)
{
#enter-val{
height:98vh;}
}
}